# ==========================================
# INFRAESTRUCTURA GLOBAL
# ==========================================

# ---------------------------------------
# POSTGRESQL
# ---------------------------------------
POSTGRES_DB=comedor_uagrm_db
POSTGRES_USER=comedor_uagrm_admin
POSTGRES_PASSWORD=comedor_uagrm_local_pass_123

# ---------------------------------------
# MINIO (S3 Local)
# ---------------------------------------
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_local_pass_123
